{{> head}}
<body>
    <div class="container">
       {{> navBar}}
       {{!-- <form action="">
          <select name="view" id="view" class="view">
            <option value="#" selected>Por pagina</option>
            <option value="5">5</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
       </form> --}}
        <ul id="list" class="list">
         {{> teste}}
        </ul>

    </div>
</body>
<script src="/js/app.js"></script>
</html>