* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f7;
  }
  body,
  input,
  button {
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    outline: none;
  }
  .container {
    width: 90vw;
    max-width: 810px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .container ul {
      list-style: none;
  }

 .container .navBar {
width: 100%;
padding: 15px;

  }
 .container .navBar ul {
display: flex;
font-size: 24px;
  }
 .container .navBar ul li {
    margin: 0 5px;

  }
  .container form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .container .list  {
    font-size: 24px;
    width: 100%;
 
  }
  .container .list li{
      padding: 15px 0 ;
      margin: 5px 0;
      border: 1px dashed  black;
  }
.container .list li .itenList{
  padding: 8px;
}
